{
  "presets": [
    "@babel/preset-react", 
    ["@babel/preset-env", { 
      "targets": { "browsers": ["> 2%", "IE 11", "safari > 9"] },
      "modules": false
    }],
    "@babel/preset-stage-2"
  ],
  "plugins": ["styled-jsx/babel"]
}